/* CSS Document */
.search a{
	color: #fff;
	font-size: 11px;
}
.inner_content_tab ul li{
	padding-bottom: 10px;
	background: url(../images/icon_line_news.jpg) left top no-repeat;
}
.inner_content_tab ul li a{
	color: #024780;
	font-weight: bold;
	background:none;	
	padding-left: 13px;
}

ul#nav li:hover > ul {
	left: 130px	
}
