/* CSS Document */

/* ######### CSS for Shade Tabs. Remove if not using ######### */
.inner_content_tab{
	border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
  /*  border-right: 1px solid #CCCCCC;*/
	padding: 19px 10px 10px 10px;
	height: 298px;
	overflow-y:hidden;
}
.shadetabs{
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
	height: 28px;
	background: url(bg_titletab_content.gif) top left repeat-x;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;

	
}
.tab_content_News ul{
	margin: 0px;
	/*padding:  0px;*/
/*	padding-top: 10px;*/
	
}
.shadetabs li{
	display: inline;
    float: left;
	padding-top: 7px;
/*	padding-bottom: 16px;*/	

}

.shadetabs li a{
	text-decoration: none;
	position: relative;	
	padding: 8px 13px 9px 13px;
	color: #2d2b2b;
	background: url(bg_titletab_content.jpg) top left repeat-x;
	margin-top: 5px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	text-transform: uppercase;
	font-size: 11px;

}

.shadetabs li a:visited{
	color: #2d2b2b;
}

.shadetabs li a:hover{
	/*text-decoration: underline;
	color: #2d2b2b;*/
}


.shadetabs li a.selected{ /*selected main tab style */
	background: url(bg_titletab_active.jpg);
    background-repeat: repeat-x;
	border-bottom: 1px solid white;
	/*border-right: 1px solid #ccc;*/
   	padding: 8px 18px 10px 18px ;

}

.shadetabs li a.selected:hover{ /*selected main tab style */
	text-decoration: none;
}

.tabcontent{
	display:none;
}

@media print {
.tabcontent {
	display:block !important;
}
}
/************************* Content tab******************************/
.inner_content_tab ul{
	margin: 0px;
	padding: 0px;
}
.inner_content_tab ul li{
	padding-bottom: 10px;
}
.inner_content_tab ul li a{
	color: #024780;
	font-weight: bold;
	background: url(icon_line_news.jpg) left center no-repeat;
	padding-left: 13px;
}
.inner_content_tab ul li span{
	color: #666;
	padding-left: 5px;
}


